<link rel="stylesheet" href="static/Person/style.css">

<div class="div_first" align = "center">
    <h1 style= "color: red;" >G</h1>
    <h1 style= "color: yellow;" >e</h1>
    <h1 style= "color: green;" >v</h1>
    <h1 style= "color: blue;" >o</h1>
    <h1 style= "color: purple;" >r</h1>
    <h1 style= "color: black;" >g</h1>
</div>

<div class="search" height="10px">
    <input type="text" name="search_field" value="" align="center">
</div>


<div class="buton_div">
    <button type="button" name="button">First button</button>
    <button type="button" name="button">Second button</button>
</div>

<p class="example_text">Text for example</p>
